@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 22px;
    overflow-x: hidden;
    text-align: justify;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url('./Pictures/CA_space_08032022istock.jpg');
    background-size: cover;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-image: url('./Pictures/CA_space_08032022istock.jpg');
    background-size: cover;
}

nav {
    display: flex;
    background-color: #002574;
    justify-content: center;
    font-size: 22px;
    font-weight: 100%;
    margin: 0;
    letter-spacing: 5px;
    font-family: "Archivo Black", sans-serif;
    padding: 30px 20; 
    width: 100%;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #276be0;
    border-radius: 20px;
}


main {
    width: 80%;
    padding: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 60px;
}

.card {
    background-color: rgba(2, 2, 2, 0.192);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h2 {
    margin: 0;
    font-size: 1.5em;
    color: #ffffff;
}

.card-content p {
    margin: 10px 0 0;
    color: #ffffff;
}

footer {
    background-color: #002574;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    padding: 10px;
    width: 100%;
    bottom: 0;
    margin-top: 182px;
}

